{
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "semi": true,
    "quoteProps": "as-needed",
    "singleQuote": false,
    "printWidth": 240
}
